<div style="text-align: left;">
<input type="hidden" name="destination" value="agreement.csv">

<p>
Согласие на добровольное участие в исследовании </p>

<p>Нажимая кнопку "Дальше", я подтверждаю своё добровольное участие в эксперименте «Угадывание слов», проводимом лабораторией нейролингвистики НИУ ВШЭ. Я даю согласие на то, что данные, полученные от меня в ходе исследования, могут быть опубликованы и использованы в научных целях при условии, что моё имя останется в тайне. 
</p>
<p>Я знаю, в чём состоит процедура эксперимента, и что я могу в любое время прекратить участие в эксперименте.</p>
<p>Я также подтверждаю, что на момент исследования не нахожусь под воздействием алкоголя и иных психотропных веществ.
</p>
<p>
Мой возраст 
<input id="idYear" type="text" name="year" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
</p>
<p>
Мой родной язык (языки, если вы с детства говорите на нескольких языках) 
<input id="idLang" type="text" name="lang" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
</p>
<p>
Мой пол 
<select id="idSex" name="sex" style="width: 10em; position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="male">Мужской</option>
		<option value="female">Женский</option>
	</select></p>
	<p>
	Каждую неделю на чтение "для себя" (не по заданию, не по работе) я трачу примерно  
<br>

<select id="idTime" name="time_in_a_week" style="width: 10em; position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="min10">10 минут</option>
		<option value="min30">30 минут</option>
		<option value="min60">Час</option>
		<option value="min90">Полтора часа</option>
		<option value="min100500">Больше полутора часов</option>
	</select> 

</p>
<script>
function isEmpty() {
	//Experigen.recordResponse(this);
	var msg= "";
	if (document.getElementById("idYear").value == "") {
            msg +=  'Заолните возраст! \n';
    }
	if (document.getElementById("idLang").value == "") {
            msg +=  'Заолните язык! \n';
    }
	if (document.getElementById("idSex").value == "none") {
            msg +=  'Заолните пол! \n';
    }
	if (document.getElementById("idTime").value == "none") {
            msg +=  'Заолните время чтения! \n';
    }

    if(msg) {
        alert(msg);
        return false;
    }
    else
        Experigen.recordResponse(this);
}
</script>
<input type="submit" value="   Дальше   " onClick="isEmpty()">

</div>