
<div class="trialpartWrapper" style="text-align: left;">
	<p>
Здравствуйте!
</p>
<p>
Спасибо, что согласились принять участие в нашем эксперименте. Мы попросим вас угадывать слова в предложениях.
</p>
<p>Сначала вы увидите пустую строку и подсказку "Введите первое слово". Введите любое слово, какое захотите, и нажмите Enter. Угадать настоящее первое слово на данном этапе практически невозможно.
После этого вы увидите истинное первое слово. Попробуйте, основывась на известном первом слове, угадать второе влово в предложении. Ваши шансы угадать уже выше, чем с первым словом.
Продолжайте угадывать все последующие слова, основываясь на информации, которая содержится во всех предыдущих словах.
</p>
<p>
Задание не ограничено по времени, так как оно рассчитано не на скорость, а на качество. Не спешите — вы можете сделать перерыв в любой момент и отдыхать столько, сколько захотите.
</p>
<!--
В конце вы увидите, сколько процентов слов вы сумели правильно угадать.
Весь эксперимент займёт у вас от 15 до 20 минут.
-->
<p>
Сейчас мы попросим у вас подтвердить, что вы согласны с условиями эксперимента, а также попросим вас ввести информацию о вашем возрасте, поле и родном языке. Нажмите кнопку «Далее».
	</p>
    <%= continueButton() %>
</div>



