<div style="text-align: left;">
<input type="hidden" name="destination" value="demographics.csv">

Спасибо! Ответьте, пожалуйста, ещё на пару вопросов о вас.


Сколько вам лет?

	<input type="text" name="year" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

Ваш пол:
	<select name="sex" style="width: 10em; position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="male">М</option>
		<option value="female">Ж</option>
	</select>

<p>
Ваш родной язык?
	<input type="text" name="lang" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
<P style="clear: both;">

<P style="text-align: right;">
<input type="button" value="   Отправить   " onClick="Experigen.recordResponse(this);">
	

</div>