<div style="text-align: left;">
<input type="hidden" name="destination" value="email.csv">

<p>
Большое спасибо за участие в эксперименте! Если вам понравилось, приходите участвовать и в <a href="http://www.hse.ru/neuroling/research_subjects">других экспериментах</a> нашей лаборатории!
<p>
<p>
Если вы хотите узнать, что мы исследовали и зачем это нужно, оставьте здесь свой email, и мы будем пересылать вам новости, связанные с этим исследованием.</p>
<p>
<input type="text" name="email" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
</p>
<input type="submit" value="   Получать новости по email   " onClick="Experigen.recordResponse(this);">

</div>
